NodeRED-Flow-DM.json
[{"id":"1353fecd.371aa1","type":"ui_form","z":"c537d69d.3cc648","name":"Heart Failure Prediction","label":"Features for Heart Failure Prediction","group":"6314b0ed.78bdb","order":1,"width":0,"height":0,"options":[{"label":"AVG. HEART BPM","value":"AVGHEARTBEATSPERMIN","type":"number","required":true,"rows":null},{"label":"PALPITATIONS / DAY","value":"PALPITATIONSPERDAY","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"CHOLESTEROL","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"AGE","value":"AGE","type":"number","required":true,"rows":null},{"label":"SEX","value":"SEX","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY","value":"FAMILYHISTORY","type":"text","required":true,"rows":null},{"label":"SMOKER FOR THE LAST 5YRS","value":"SMOKERLAST5YRS","type":"text","required":true,"rows":null},{"label":"EXERCISE (MINS / WEEK)","value":"EXERCISEMINPERWEEK","type":"number","required":true,"rows":null}],"formValue":{"AVGHEARTBEATSPERMIN":"","PALPITATIONSPERDAY":"","CHOLESTEROL":"","BMI":"","AGE":"","SEX":"","FAMILYHISTORY":"","SMOKERLAST5YRS":"","EXERCISEMINPERWEEK":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":300,"wires":[["f486bf6b.7e5e2","a982fc9d.061ad"]],"info":"# `Dr. Deepa Madathil`\n## `VIT, Vellore`"},{"id":"f486bf6b.7e5e2","type":"debug","z":"c537d69d.3cc648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":380,"wires":[]},{"id":"a982fc9d.061ad","type":"function","z":"c537d69d.3cc648","name":"pre-token","func":"global.set(\"AVGHEARTBEATSPERMIN\",msg.payload.AVGHEARTBEATSPERMIN)\nglobal.set(\"PALPITATIONSPERDAY\",msg.payload.PALPITATIONSPERDAY)\nglobal.set(\"CHOLESTEROL\",msg.payload.CHOLESTEROL)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"AGE\",msg.payload.AGE)\nglobal.set(\"SEX\",msg.payload.SEX)\nglobal.set(\"FAMILYHISTORY\",msg.payload.FAMILYHISTORY)\nglobal.set(\"SMOKERLAST5YRS\",msg.payload.SMOKERLAST5YRS)\nglobal.set(\"EXERCISEMINPERWEEK\",msg.payload.EXERCISEMINPERWEEK)\nvar apikey=\"0AH_ucPLKAk4R0H77A7uzt7cvXdhBALP9DPvmKFKIQN4\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":240,"wires":[["864c19b7.0a9db8"]]},{"id":"864c19b7.0a9db8","type":"http request","z":"c537d69d.3cc648","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":452.00000381469727,"y":284.00000286102295,"wires":[["5af7f0eb.170c1","dd9fca02.6afa58"]]},{"id":"5af7f0eb.170c1","type":"debug","z":"c537d69d.3cc648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":340,"wires":[]},{"id":"dd9fca02.6afa58","type":"function","z":"c537d69d.3cc648","name":"Pre Prediction","func":"var AVGHEARTBEATSPERMIN = global.get(\"AVGHEARTBEATSPERMIN\")\nvar PALPITATIONSPERDAY = global.get(\"PALPITATIONSPERDAY\")\nvar CHOLESTEROL = global.get(\"CHOLESTEROL\")\nvar BMI = global.get(\"BMI\")\nvar AGE = global.get(\"AGE\")\nvar SEX = global.get(\"SEX\")\nvar FAMILYHISTORY = global.get(\"FAMILYHISTORY\")\nvar SMOKERLAST5YRS = global.get(\"SMOKERLAST5YRS\")\nvar EXERCISEMINPERWEEK = global.get(\"EXERCISEMINPERWEEK\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\"values\":[[AVGHEARTBEATSPERMIN,PALPITATIONSPERDAY,CHOLESTEROL,BMI,AGE,SEX,FAMILYHISTORY,SMOKERLAST5YRS,EXERCISEMINPERWEEK]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":644.0000076293945,"y":236.0000021457672,"wires":[["777e95e0.b65a7c"]]},{"id":"9bc41a62.ae5db8","type":"debug","z":"c537d69d.3cc648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1022.9999914169312,"y":344.00000381469727,"wires":[]},{"id":"b837f8a9.61caa8","type":"inject","z":"c537d69d.3cc648","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["a982fc9d.061ad"]]},{"id":"6d78da9d.a8da24","type":"debug","z":"c537d69d.3cc648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":853.9999885559082,"y":127.0000057220459,"wires":[]},{"id":"4e805938.4fa318","type":"function","z":"c537d69d.3cc648","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":699.6000595092773,"y":168.00000190734863,"wires":[["6d78da9d.a8da24","21747005.f8501"]]},{"id":"21747005.f8501","type":"ui_text","z":"c537d69d.3cc648","group":"6314b0ed.78bdb","order":2,"width":0,"height":0,"name":"","label":"Heart Failure Prediction","format":"{{msg.payload}}","layout":"row-spread","x":867.6000366210938,"y":401.20001220703125,"wires":[]},{"id":"777e95e0.b65a7c","type":"http request","z":"c537d69d.3cc648","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/b5f155f7-ce00-4ff8-96a4-4ff388645fe9/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":260,"wires":[["9bc41a62.ae5db8","4e805938.4fa318"]]},{"id":"6314b0ed.78bdb","type":"ui_group","z":"","name":"CVD - Heart Failure Prediction","tab":"34222134.6dc82e","order":2,"disp":true,"width":"6","collapse":false},{"id":"34222134.6dc82e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]